*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --primary-color: #2E2E36;
    --secondary-color: #FE7450;
    --tertiary-color: #65597D;
}

html {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

section {
    margin-top: 15rem;
}

h1 {
    font-size: 6rem;
    font-family: 'Roboto Slab', serif;
}

h2 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 5rem;
    font-weight: 700;
    line-height: 6.6rem;
    color: var(--primary-color);
}

h3 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 700;
}

p {
    font-size: 1.6rem;
}

footer {
    height: 50vh;
}

/* HEADING */

.header {
    height: 93.9rem;
    width: 100%;
    background: url(img/Bg.jpg) no-repeat;
    background-size: cover;
    overflow: visible;
}

.container {
    margin: 0 15rem;
}

.navigation {
    padding: 5rem 0;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__logo {
    font-size: 3.5rem;
    font-weight: 600;
    color: #ffffff;
    line-height: 5rem;
    animation: toRight 1.5s;
}

.navigation__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 53.7rem;
    animation: toLeft 1.5s;
}

.navigation__item {
    font-size: 1.6rem;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    padding: 1rem;
    transition: all .2s ease-in;
}

.fas {
    position: absolute;
}

.fa-bars {
    left: 90%;
    font-size: 3.5rem;
    color: #ffffff;
    display: none;
}

.fa-times {
    display: none;
}

.navigation__item:hover {
    background-color: var(--secondary-color);
    border-radius: .8rem;
}

.heading {
    color: #ffffff;
    margin-top: 15rem;
    display: inline-block;
}

.heading__text{
    width: 50rem;
    height: 35.9rem;  
}

.heading__main {
    margin-bottom: 2.8rem;
    animation: toRight 1.5s;
}

.paragraph {
    margin-bottom: 6rem;
    animation: toRight 1.5s;    
}

.btn:link,
.btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 1.6rem 4.4rem;
    background-color: var(--secondary-color);
    color: #ffffff;
    font-size: 2rem;
    font-weight: 400;
    box-shadow: 2px 5px 50px rgba(254, 116, 80, 0.2);
    transition: all .2s;
    animation: toLeft 1.5s;
}
.btn:hover {
    transform: translateY(-3px);
}

.btn:active {
    transform: translateY(1px);
}

@keyframes toRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes toLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes toUp {
    0% {
        transform: translateY(100px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateX(0);
    }
}

.dots__img {
    position: absolute;
    height: auto;
    width: 18.1rem;
    left: 83%;
    top: 25%;
    animation: toLeft 1.5s;
}

.heading__img {
    position: absolute;
    height: 70rem;
    width: auto;
    top: 35%;
    left: 55%;
    border-radius: 8px;
    animation: toUp 1.5s ease-in-out;
}

.comment{
    background: url(img/box\ 1.svg) no-repeat;
    height: auto;
    width: auto;
    position: absolute;
    left: 35%;
    top: 95%;
    text-align: left;
    padding: 4rem 6rem 5rem 7rem;
}

.comment__heading {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 500;
    font-style: italic;
    width: 40rem;
    height: 12rem;
    margin-bottom: 2rem;
}

.comment__name {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
}


/* HEADING END */



/* POPULAR CATEGORIES */
.popular__heading {
    text-align: center;
}

.popular__sub {
    width: 53rem;
    text-align: center;
    display: inline-block;
    margin-top: 1.6rem;
}

.categories {
    display: grid;
    grid-template-columns: 35rem 35rem 35rem;
    justify-self: center;
    justify-content: center;
    
}

.categories__container {
    text-align: center;
    height: 26rem;
    margin-top: 7rem;
}

.categories__icon{
    height: 12rem;
    width: auto;
    margin-bottom: 2.3rem;
    
}

.categories__heading{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2.3rem;
}

.categories__desc {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0 2rem;
}

/* POPULAR CATEGORIES END */


/* POPULAR COURSES */

.card-container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    margin-right: 1.5rem;
    margin-top: 3rem;
    width: 32rem;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.card__img {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    width: 100%;
}

.card__title {
    width: 30rem;
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 2.5rem;
    margin-bottom: .8rem;
}

.card__author {
    font-size: 1.6rem;
    font-weight: normal;
    display: inline;
    margin-left: 2.5rem;
    display: inline-block;
    margin-bottom: .8rem;
}

.card__price {
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: 13rem;
    display: inline-block;
}

.card__link {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.6rem;
    font-weight: normal;
    margin-left: 2.5rem;
    display: block;
    margin-bottom: 1.5rem;
}

/* POPULAR COURSES END */


/* HELPING GROW */
.helping__main {
    display: flex;
    justify-content: center;
    align-content: center;
}

.main__heading {
    width: 50rem;
    margin-bottom: 2rem;
}

.sub__heading {
    width: 50rem;
    margin-bottom: 2rem;
}

.helping__img {
    height: 100%;
    width: auto;
    margin-left: 17.9rem;
}

.review__section {
    width: 100%;
    background: rgba(254, 116, 80, 0.08);
    margin-top: -10rem;
}

.review__content {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.review__comment {
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary-color);
}

.review__img {
    width: auto;
    margin-top: 10rem;
}

.review__text {
    margin-top: 10rem;
    margin-left: 9rem;
}

.review__name {
    font-size: 3rem;
    font-weight: 600;
    line-height: 4.5rem;
    color: var(--primary-color);
}

.review__job {
    font-size: 1.6rem;
    font-weight: 400;

}

.footer__container {
    margin-top: 5rem;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.footer__heading {
    display: flex;
    flex-direction: column;
}

.footer__logo {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 5.2rem;
    color: var(--primary-color);
    margin-bottom: 2.8rem;
    display: inline-block;
}

.footer__sub {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    line-height: 2.4rem;
    width: 27rem;
    margin-bottom: 3.4rem;
    display: inline-block;
}

.footer__links {
    display: inline-block;
}


.footer__icon {
    margin-right: 1.6rem;
    height: 2rem;
    width: 100%;
    transition: all 1s;
}

.footer__img:hover {
    transform: rotate(15deg) translateY(-3px);
}



.main__section {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 4rem;
    color: var(--primary-color);
}

.main__sub {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    color: var(--primary-color);
    margin-top: 2.4rem;
    cursor: pointer;
}

