*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --primary-color: #2E2E36;
    --secondary-color: #FE7450;
    --tertiary-color: #65597D;
}

html {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

section {
    margin-top: 15rem;
}

h1 {
    font-size: 6rem;
    font-family: 'Roboto Slab', serif;
}

h2 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 5rem;
    font-weight: 700;
    line-height: 6.6rem;
    color: var(--primary-color);
}

h3 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 700;
}

p {
    font-size: 1.6rem;
}

footer {
    height: 50vh;
}

/* HEADING */

.header {
    height: 93.9rem;
    width: 100%;
    background: url(img/Bg.jpg) no-repeat;
    background-size: cover;
    overflow: visible;
}

.container {
    margin: 0 15rem;
}

.navigation {
    padding: 5rem 0;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__logo {
    font-size: 3.5rem;
    font-weight: 600;
    color: #ffffff;
    line-height: 5rem;
    animation: toRight 1.5s;
}

.navigation__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 53.7rem;
    animation: toLeft 1.5s;
}

.navigation__item {
    font-size: 1.6rem;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    padding: 1rem;
    transition: all .2s ease;
}

.fas {
    position: absolute;
}

.fa-bars {
    left: 90%;
    font-size: 3.5rem;
    color: #ffffff;
    display: none;
}

.fa-times {
    display: none;
}

.navigation__item:hover {
    background-color: var(--secondary-color);
    border-radius: .8rem;
}

.heading {
    color: #ffffff;
    margin-top: 15rem;
    display: inline-block;
}

.heading__text{
    width: 50rem;
    height: 35.9rem;  
}

.heading__main {
    margin-bottom: 2.8rem;
    animation: toRight 1.5s;
}

.paragraph {
    margin-bottom: 6rem;
    animation: toRight 1.5s;    
}

.btn:link,
.btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 1.6rem 4.4rem;
    background-color: var(--secondary-color);
    color: #ffffff;
    font-size: 2rem;
    font-weight: 400;
    box-shadow: 2px 5px 50px rgba(254, 116, 80, 0.2);
    transition: all .2s;
    animation: toLeft 1.5s;
}
.btn:hover {
    transform: translateY(-3px);
}

.btn:active {
    transform: translateY(1px);
}

@keyframes toRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes toLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes toUp {
    0% {
        transform: translateY(100px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateX(0);
    }
}

.dots__img {
    position: absolute;
    height: auto;
    width: 18.1rem;
    right: 5%;
    top: 25%;
    animation: toLeft 1.5s;
}

.heading__img {
    position: absolute;
    height: 70rem;
    width: auto;
    top: 35%;
    right: 10%;
    border-radius: 8px;
    animation: toUp 1.5s ease-in-out;
}


.comment{
    position: absolute;
    top: 103%;
    right: 34%;
    z-index: 1000;
}

.comment__box {
    position: absolute;
    top: 100%;
    right: 33%;
    height: 20rem;
}

.comment__heading {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 500;
    font-style: italic;
    width: 40rem;
    height: 12rem;
    margin-bottom: 1rem;
}

.comment__name {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
}


/* HEADING END */



/* POPULAR CATEGORIES */
.popular__heading {
    text-align: center;
}

.popular__sub {
    width: 53rem;
    text-align: center;
    display: inline-block;
    margin-top: 1.6rem;
}

.categories {
    display: grid;
    grid-template-columns: 35rem 35rem 35rem;
    justify-self: center;
    justify-content: center;
    
}

.categories__container {
    text-align: center;
    height: 26rem;
    margin-top: 7rem;
}

.categories__icon{
    height: 12rem;
    width: auto;
    margin-bottom: 2.3rem;
    
}

.categories__heading{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2.3rem;
}

.categories__desc {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0 2rem;
}

/* POPULAR CATEGORIES END */


/* POPULAR COURSES */

.card-container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    margin-right: 1.5rem;
    margin-top: 3rem;
    width: 32rem;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.card__img {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    width: 100%;
}

.card__title {
    width: 30rem;
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 2.5rem;
    margin-bottom: .8rem;
}

.card__author {
    font-size: 1.6rem;
    font-weight: normal;
    display: inline;
    margin-left: 2.5rem;
    display: inline-block;
    margin-bottom: .8rem;
}

.card__price {
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: 13rem;
    display: inline-block;
}

.card__link {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.6rem;
    font-weight: normal;
    margin-left: 2.5rem;
    display: block;
    margin-bottom: 1.5rem;
}

/* POPULAR COURSES END */


/* HELPING GROW */
.helping__main {
    display: flex;
    justify-content: center;
    align-content: center;
}

.main__heading {
    width: 50rem;
    margin-bottom: 2rem;
}

.sub__heading {
    width: 50rem;
    margin-bottom: 2rem;
}

.helping__img {
    height: 100%;
    width: auto;
    margin-left: 17.9rem;
}

/* HELPING GROW END */


/* REVIEW */
.review__section {
    width: 100%;
    background: rgba(254, 116, 80, 0.08);
    margin-top: -10rem;
}

.review__content {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.review__comment {
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary-color);
}

.review__img {
    width: auto;
    margin-top: 10rem;
}

.review__text {
    margin-top: 10rem;
    margin-left: 9rem;
}

.review__name {
    font-size: 3rem;
    font-weight: 600;
    line-height: 4.5rem;
    color: var(--primary-color);
}

.review__job {
    font-size: 1.6rem;
    font-weight: 400;

}
/* REVIEW END */


/* FOOTER */
.footer__container {
    margin-top: 5rem;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.footer__heading {
    display: flex;
    flex-direction: column;
}

.footer__logo {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 5.2rem;
    color: var(--primary-color);
    margin-bottom: 2.8rem;
    display: inline-block;
}

.footer__sub {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    line-height: 2.4rem;
    width: 27rem;
    margin-bottom: 3.4rem;
    display: inline-block;
}

.footer__links {
    display: inline-block;
}


.footer__icon {
    margin-right: 1.6rem;
    height: 2rem;
    width: 100%;
    transition: all 1s;
}

.footer__img:hover {
    transform: rotate(15deg) translateY(-3px);
}



.main__section {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 4rem;
    color: var(--primary-color);
}

.main__sub {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    color: var(--primary-color);
    margin-top: 2.4rem;
    cursor: pointer;
}

/* FOOTER END */


/* MEDIA QUERIES */

@media only screen and (max-width: 2560px) and (min-width: 1440px) {
    html {
        font-size: 15px;
    }

    .helping__img {
        height: 50rem;
    }

    .review__img {
        width: 50rem;
    }


}


@media only screen and (max-width: 1330px) {
    .heading__img {
        top: 50%;
        right: 9%;
    }

    .dots__img {
        top: 35%;
        right: 2%;
    }

    .comment {
        top: 146%;
    }

    .comment__box {
        top: 142%;
    }
}

@media only screen and (max-width: 1230px) {
    .heading__img {
        top: 49%;
        right: 8%;
    }

    .dots__img {
        top: 35%;
        right: 2%;
    }

    .comment {
        top: 146%;
    }

    .container{
        margin: 0 10rem;
    }
}

@media only screen and (max-width: 1170px) {
    html {
        font-size: 9px;
    }

    .comment {
        top: 126%;
        right: 36%;
    }

    .comment__box {
        top: 120%;
        height: 23rem;
    }

    .container{
        margin: 0 5rem;
    }
}

@media only screen and (max-width: 1115px) {
    html {
        font-size: 8px;
    }
}

@media only screen and (max-width: 980px) {
    html {
        font-size: 7px;
    }

    .heading__img {
        top: 34%;
    }

    .dots__img {
        top: 25%;
    }
    .comment {
        top: 100%;
        right: 36%;
    }

    .comment__box {
        top: 95%;
        height: 23rem;
    }
}

@media only screen and (max-width: 880px) {
    .helping__img {
        width: 40%;
    }
}

@media only screen and (max-width: 770px) {

    html {
        font-size: 6px;
    }

    .heading__img {
        height: 65rem;
        right: 4.5%;
        animation: none;
    }

    .dots__img {
        right: 2%;
        animation: none;
    }

    .navigation__logo {
        animation: none;
    }

    .heading__main{
        animation: none;
    }

    .paragraph {
        animation: none;
    }

    .btn:link,
    .btn:visited {
        animation: none;
    }

    .comment__box {
        top: 80%;
        right: 25%;
    }

    .comment {
        top: 84%;
        right: 28%;
    }

    .navigation__list {
        position: fixed;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 30%;
        background: rgba(254, 116, 80);
        top: 0;
        height: 100vh;
        right: -30%;
        z-index: 3000;
        animation: none;
        transition: all .5s;
    }

    .navigation__list.active {
        position: fixed;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 40%;
        background: rgba(254, 116, 80);
        top: 0;
        height: 100vh;
        right: 0;
        z-index: 3000;
        animation: none;
        transition: all .5s;
    }

    .navigation__list li {
        margin-top: 5rem;
    }

    .navigation__item {
        animation: none;
    }
    
    .fa-times {
        display: initial;
        position: absolute;
        top: 5%;
        left: 10%;
        font-size: 2.5rem;
        color: #ffffff;
    }

    .fa-bars {
        display: initial;
    }

    .review__img {
        width: 40%;
    }
}


@media only screen and (max-width: 720px) {
    html {
        font-size: 6px;
    }
}

@media only screen and (max-width: 615px) {

    .header {
        height: 87rem;
    }

    .heading__img {
        height: 65%;
    }

    .comment__box {
        top: 81%;
        height: 24%;
    }

    .helping__img {
        margin-left: 10%;
    }
}

@media only screen and (max-width: 575px) {
    .header {
        height: 150rem;
    }

    .heading__img {
        top: 80%;
    }

    .dots__img {
        top: 72%;
    }
    
    .comment__box {
        top: 120%;
    }

    .comment {
        top: 123%;
    }

    .helping__img {
        margin-left: 5%;
    }

    .categories {
        grid-template-columns: 30rem 30rem 30rem;
    }
    
    .categories__icon {
        height: 10rem;
    }
}

@media only screen and (max-width: 525px) {

    .heading__img {
        right: 10%;
    }

    .dots__img {
        right: 5%;
    }

    .categories {
        grid-template-columns: 30% 30% 30%;
    }
    

    .categories__heading {
        font-size: 2.5rem;
    }

    .helping__img {
        width: 30%;
    }

    .footer__img {
        height: 4rem;
    }
}

@media only screen and (max-width: 480px) {
    .main__section {
        font-size: 2.5rem;
    }

    .main__sub {
        font-size: 1.5rem;
    }

    .review__img {
        width: 30%;
    }

    .review__content {
        height: 50vh;
    }

    .review__section {
        margin-top: -2rem;
    }
}

@media only screen and (max-width: 440px) {
    html {
        font-size: 5px;
    }
    .heading__img {
        height: 50%;
    }

    .comment__box {
        height: 20%;
        top: 110%;
        right: 35%;
    }

    .comment {
        width: 20%;
        top: 112%;
        right: 62%;
    }

    .categories {
        display: initial;
    }

    .categories__container {
        text-align: center;
    }

    .categories__desc {
        text-align: center;
    }

    .helping__main {
        display: initial;
    }

    .helping__img {
        width: 50%;
        margin-left: 50%;
    }

    
    .review__img {
        width: 40%;
    }

    .review__text {
        margin: ;
    }

    .footer {
        height: 120%;
    }
}

@media only screen and (max-width: 400px) {
    .comment {
        right: 65%;
    }
} 

@media only screen and (max-width: 380px) {
    .comment {
        left: 9%;
    }
}


@media only screen and (max-width: 360px) {

    .comment {
        left: 10%;
    }

    .comment__box {
        height: 20%;
        left: 5%;
    }

    .popular__categories {
        margin-top: 0;
    }

    .categories__desc {
        padding: 0 15rem ;
    }

    .card {
        width: 40%;
    }

    .card__title {
        font-size: 1.5rem;
        width: 80%;
    }

    .card__price {
        margin-left: 5rem;
    }

    .main__section {
        font-size: 2rem;
    }

    .main__sub {
        margin-top: 1rem;
    }

    .footer__sub {
        margin-bottom: 2rem;
    }

    .footer__img {
        height: 3rem;
    }
}

@media only screen and (max-width: 320px) {
    .card__price {
        margin-left: 3rem;
    }

    .footer__logo {
        font-size: 2.5rem;
        margin-bottom: .5rem;
    }

    .footer__sub {
        font-size: 1.2rem;
    }

    .main__section {
        font-size: 1.5rem;
    }

    .main__sub {
        font-size: 1rem;
    }
}

