*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --primary-color: #2E2E36;
    --secondary-color: #FE7450;
    --tertiary-color: #65597D;
}

html {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 6rem;
    font-family: 'Roboto Slab', serif;
}

h2 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 5rem;
    font-weight: 700;
    line-height: 6.6rem;
    color: var(--primary-color);
}

h3 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 700;
}

p {
    font-size: 1.6rem;
}

footer {
    height: 50vh;
}

.header {
    height: 93.9rem;
    width: 100%;
    background: url(img/Bg.jpg) no-repeat;
    background-size: cover;
    overflow: visible;
}

.container {
    padding: 6rem 15rem 0 15rem;
}

.navigation {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__logo {
    font-size: 3.5rem;
    font-weight: 600;
    color: #ffffff;
    line-height: 5rem;
    animation: toRight 1.5s;
}

.navigation__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 53.7rem;
    animation: toLeft 1.5s;
}

.navigation__item {
    font-size: 1.6rem;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    padding: 1rem;
    transition: all .2s ease-in;
}

.fas {
    position: absolute;
}

.fa-bars {
    left: 90%;
    font-size: 3.5rem;
    color: #ffffff;
    display: none;
}

.fa-times {
    display: none;
}

.navigation__item:hover {
    background-color: var(--secondary-color);
    border-radius: .8rem;
}

.heading {
    color: #ffffff;
    margin-top: 15rem;
    display: inline-block;
}

.heading__text{
    width: 50rem;
    height: 35.9rem;  
}

.heading__main {
    margin-bottom: 2.8rem;
    animation: toRight 1.5s;
}

.paragraph {
    margin-bottom: 6rem;
    animation: toRight 1.5s;    
}

.btn:link,
.btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 1.6rem 4.4rem;
    background-color: var(--secondary-color);
    color: #ffffff;
    font-size: 2rem;
    font-weight: 400;
    box-shadow: 2px 5px 50px rgba(254, 116, 80, 0.2);
    transition: all .2s;
    animation: toLeft 1.5s;
}
.btn:hover {
    transform: translateY(-3px);
}

.btn:active {
    transform: translateY(1px);
}

@keyframes toRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes toLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes toUp {
    0% {
        transform: translateY(100px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateX(0);
    }
}

.dots__img {
    position: absolute;
    left: 115rem;
    top: 19.5rem;
    animation: toLeft 1.5s;
}

.heading__img {
    position: absolute;
    top: 25rem;
    left: 79.5rem;
    border-radius: 8px;
    animation: toUp 1.5s ease-in-out;
}

.comment__text {
    background: url(img/box\ 1.svg) no-repeat;
    width: 55rem;
    height: 27.5rem;
    position: absolute;
    left: 47.5rem;
    top: 67.9rem;
    text-align: left;
    padding: 5rem 7rem;
}

.heading__comment {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 500;
    font-style: italic;
    width: 40rem;
    height: 12rem;
    margin-bottom: 2rem;
}

.heading__name {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
}


.popular__heading {
    margin-top: 10rem;
    text-align: center;
}

.popular__sub {
    width: 53rem;
    text-align: center;
    display: inline-block;
    margin-top: 1.6rem;
}

.categories {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.categories__container {
    text-align: center;
    height: 26rem;
    margin-top: 7rem;
}

.categories__icon{
    margin-bottom: 2.3rem;
}

.categories__heading{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2.3rem;
}

.categories__desc {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0 2rem;
}

.popular__table {
    margin-top: 3.4rem;
}

.popular__table-box {
    margin-right: 4.5rem;
    box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
}

.popular__table-col {
    display: flex;
    width: 35rem;
    height: 35rem;
}

.table__img {
    width: 35rem;
    border-radius: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.text__container {
    margin: .8rem 2.5rem 2.1rem 2.5rem;
}

.table__text {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.7rem;
    width: 30rem;
    margin-bottom: .8rem;
}

.table__author {
    display: flex;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    margin-right: 12.9rem;
    margin-bottom: .8rem;
    float: left;
}

.table__price {
    float: left;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
}

.table__btn {
    float: left;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
}

.view__course {
    text-decoration: none;
    color: var(--secondary-color);
}

.helping__main {
    display: flex;
    justify-content: center;
    align-content: center;
}

.main__heading {
    width: 50rem;
    margin-bottom: 2rem;
}

.sub__heading {
    width: 50rem;
    margin-bottom: 2rem;
}

.helping__img {
    margin-left: 17.9rem;
}

.review__section {
    background: rgba(254, 116, 80, 0.08);
    margin-top: -10rem;
}

.review__content {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.review__img {
    margin-top: 10rem;
}

.review__text {
    margin-top: 10rem;
    margin-left: 9rem;
}

.review__name {
    font-size: 3rem;
    font-weight: 600;
    line-height: 4.5rem;
    color: var(--primary-color);
}

.review__job {
    font-size: 1.6rem;
    font-weight: 400;

}

.footer__container {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.footer__heading {
    display: flex;
    flex-direction: column;
}

.footer__logo {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 5.2rem;
    color: var(--primary-color);
    margin-bottom: 2.8rem;
    display: inline-block;
}

.footer__sub {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    line-height: 2.4rem;
    width: 27rem;
    margin-bottom: 3.4rem;
    display: inline-block;
}

.footer__links {
    display: inline-block;
}


.footer__icon {
    margin-right: 1.6rem;
    height: 2rem;
    width: 100%;
    transition: all 1s;
}

.footer__img:hover {
    transform: rotate(15deg) translateY(-3px);
}



.main__section {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 4rem;
    color: var(--primary-color);
}

.main__sub {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    color: var(--primary-color);
    margin-top: 2.4rem;
    cursor: pointer;
}

@media only screen and (max-width: 480px) and (min-width: 320px ) {
    html {
        font-size: 5.5px;
    }

    .header {
        height: 100vh;
    }

    .heading{
        margin-top: 10rem;
    }

    .container {
        padding: 5rem;
    }

    .navigation__list{
        list-style-type: none;
        position: fixed;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        margin-top: 24rem;
        height: 100vh;
        width: 35%;
        background-color: rgb(255, 98, 59);
        z-index: 1000;
        animation: none;
        right: -40rem;
    }


    .navigation__list.active {
        list-style-type: none;
        position: fixed;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        margin-top: 24rem;
        height: 100vh;
        width: 35%;
        background-color: rgb(255, 98, 59);
        z-index: 1000;
        animation: none;
        right: 0;
        transition: all .5s;
    }
    

    .fa-bars {
        display: initial;
    }

    .fa-times {
        display: initial;
        font-size: 3rem;
        color: #ffffff;
        top: 2.5rem;
        left: 2.5rem;
    }
    
    li {
        margin: 7rem 0;
        width: 100%;
    }

    .navigation__item {
        padding: 0;
    }

    .dots__img {
        display: none;
    }

    .heading__img {
        display: none;
    }

    .comment__text {
        display: none;
    }
    
}
